*, *::before, *::after {
    box-sizing: border-box;
}

.fas {
    line-height: unset;
}

/*materialize option list content*/
.dropdown-content li span{  
    color: black;   
}
/*materialize option default shown text*/
.select-wrapper input.select-dropdown {  
    color: black;   
}
/*materialize option list arrow*/
.select-wrapper .caret {
    fill: black;
}

.nav {
    position: fixed;
}

.body {
    overflow: auto;
}

.img {
    vertical-align: middle;
}

.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0px;
    z-index: 5;
}

#modal2,
#modal1 {
    height: auto;
}

#modal1-content {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0px;

}

#modal-repaddr,
#modal-repphone,
#modal-repemail,
#modal-repname,
#modal-reptitle {
    padding-bottom: 0.5rem;
}

#modal-repaddr {
    padding-top: 0.5rem;
}


#modal-btn-email1,
#modal-btn-save1,
#modal-btn-close1,
#modal1-footer {
    margin: 0px;
}

#nav-cont {
    height: 4rem;
    line-height: 3.5rem;
}

#nav-row {
    font-size: x-large;
    vertical-align: middle;
    position: relative;
    padding-left: 35px;   
    width: 100%;
    text-align: right;
    padding-right: 8px;
    max-width: none;
    color: white;
}

#nav-brand-icon {
    margin: 0px;
    padding: 0px;
    font-size: xx-large;
    position: absolute;
    right: 185px;
}

#sidenav-head {
    height: 7rem;
    margin: 0px;
}

#search-rep,
#about,
#testData {
    text-align: right;
}

#sidenav-pic2,
#sidenav-pic1 {
    object-fit: cover;
}

#body-area {
    background-image: url("./socialjustice.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    overflow: auto;
    object-fit: cover;
    overflow-y: scroll;
}

#main-card {
    margin: 0px;
}

#card-row-city,
#card-row-text,
#card-row-div,
#card-row,
#main-title,
#title-card-row,
#main-card {
    margin: 0px;
}

#card-row-text,
#card-row-div,
#card-row {
    padding: 0px;
}

#main-title {
    padding-bottom: 1rem;
    border-bottom: 1px solid darkgray;
}

#title-card-row {
    padding-bottom: 2.0rem;
}

#card-row {
    height: 4rem;
    margin-bottom: 1rem;
}

#card-row-text,
#card-row-div {
    height: 4.7rem;
}

#card-row-ddl {
    margin: 0px;
    padding-bottom: 1.5rem;
}

#search-zipcode,
#card-row-z {
    margin: 0px;
}

#card-row-cb-title {
    vertical-align: middle;
    margin: 0px;
}

#gob-level-title {
    top: 15%;
}

#gob-level-title {
    margin: 0px;
}

#card-row-dir,
#card-row-d1,
#card-row-d2 {
    margin: 0px;
}

#card-row-dir {
    padding-top: 0.75rem;
}

#card-row-div-cb {
    text-align: left;
    padding: 0.5rem;
    margin: 0px;
}

#card-row-div-cb-p {
    margin: 0px;
}

#card-row-div-sb {
    text-align: center;
    padding: 0.5rem;
    margin: 0px;
}

#testdata-btn,
#clearall-btn,
#clear-btn,
#search-btn {
    width: 100%;
}

#proceed-btn {
    width: 100%;
}

#card-row-d3 {
    margin: 0px;
    padding: 0.15rem;
}

#card-row-dirls {
    margin: 0px;
    border-bottom: 1.3px solid darkgrey;
}

#card-row-rep-t {
    margin: 0px;
    border-bottom: 1.3px solid darkgrey;
}

#card-row-rep {
    margin: 0px;
    border-bottom: 1.3px solid darkgrey;
}

#card-row-div-text {
    margin: 0px;
    padding: 0.5rem;
}

#modal-repaddr,
#modal-reppic,
#modal-repphone,
#modal-repemail,
#modal-repname,
#modal-reptitle {
    margin: 0px;
}

#rep-pic {
    max-width: 50px;
    border: 1px solid darkgrey;
    border-radius: 6px;
}

#modal-reppic {
    max-width: 200px;
    border: 1px solid darkgrey;
    border-radius: 6px;
}

.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orangered;
    padding: 0px;
    z-index: 5;
}

#main-footer {
    width: 100%;
    text-align: right;
    padding-right: 8px;
    max-width: none;
    color: white;
}

#card-row-btn {
    padding-top: 1rem;
    margin: 0px;
}

#card-row-bottom {
    margin: 0px;
}

#card-row-dir-title {
        margin: 0px;
}

#card-row-dir-list-header {
    margin: 0px;
    padding: 1rem;
}

#card-row-dir-link,
#about-list {
    margin: 0px;
}

#card-row-dir-link {
    text-align: right;
    padding: 1rem;
    border-bottom: 1.3px solid darkgrey;
}
